<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <%= stylesheet_link_tag "home" %>
</head>
<body>

    <div id = "parent_div">
         <div id = "child_div">
            
            <% @posts.each do |post| %>
                <div id = "profile_pic">
                    <% if User.find(post.user_id).profile_pic.attached? %>
                        <%= image_tag User.find(post.user_id).profile_pic ,:style => "max-height:50px" %>
                    <% end %>
                </div>
              
                <h4><%= User.find(post.user_id).profile_name %></h4>
                <% if post.image.image? %>
                <%=  image_tag post.image ,:style => "max-height:400px" %>
                <% elsif  post.image.video?%>
                    <%= video_tag(post.image, controls: true)%>
                <% end %>

                <h4>
                    <% like = current_user.likes.find_by(post: post) %>

                    <% if like && like.like %>
                        <%= button_to 'Unlike', post_likes_path(post),data: { turbo_method: "post" }%>
                    <% else %>
                        
                        <%= button_to 'Like', post_likes_path(post),data: { turbo_method: "post" }%>
                    <% end %>

                    
                    <%= link_to " Likes: #{post.likes.where(like: true).count}", post_likes_path(post),data: { turbo_method: "get" }%>   
                </h4>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                       Create Comment
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        
                        <%= form_with model: [post, post.comments.build]  do |form| %>
                         <li> <%= form.text_field :body  %> </li>
                         <li><hr class="dropdown-divider"></li>
                         <li><%= form.submit %> </li>
                         <% end %>
                    </ul>
                    </div>
                    <h4><%= link_to " Comments: #{post.comments.count}", post_comments_path(post),data: { turbo_method: "get" }%>  </h4>
                <br>

            <% end %>

         </div>
     </div>
</body>
</html>